<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "animals" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Detalles del animal</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Detalles del animal</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- breeder-details-area -->
        <section class="breeder-details-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="breeder-details-content">

                            <div class="breeder-details-img">
                                <img src="img/images/breeder_details.jpg" alt="">
                            </div>
                            <h4 class="title">Descripción</h4>
                            <p>The domestic dog is doiated dendant of the wolf. The dog t is derived from an ancient,
                                extinct wolf, and the modern grey wolf is the dog's nesdarest living relative. The dog
                                was
                                the first species to be dometed, by hunter.</p>
                            <div class="breeder-dog-info">
                                <h5 class="title">Información del animal</h5>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Genero:</h6>
                                            <span>Macho</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Edad:</h6>
                                            <span>1 año (aprox)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Color:</h6>
                                            <span>Café</span>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Tamaño:</h6>
                                            <span>Mediano</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Esterilizado:</h6>
                                            <span>Si</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Desparasitado:</h6>
                                            <span>Si</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Fecha de rescate:</h6>
                                            <span>09/12/2021</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Sitio de rescate:</h6>
                                            <span>Barrio la pavona armenia quindio</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-6">
                                        <div class="breeder-info-item">
                                            <h6>Vacunas:</h6>
                                            <span>Antirabica</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="contact.html" class="btn">Adoptar <img src="img/icon/w_pawprint.png"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="breeder-sidebar">
                            <div class="widget sidebar-newsletter">
                                <div class="sn-icon">
                                    <img src="img/images/banner-pasos-adopcion.webp" alt="">
                                </div>
                                <div class="sn-title">
                                    <h4 class="title">¿Tienes alguna duda?</h4>
                                    <p>Comunicate con nosotros al 3156684567</p>
                                </div>

                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- breeder-details-area-end -->

    

        <!-- adoption-area -->
        <section class="adoption-area-two pt-110 pb-110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="section-title text-center mb-65">
                            <div class="section-icon"><img src="img/icon/pawprint.png" alt=""></div>
                            <h5 class="sub-title">Conoce más peludos</h5>
                            <h2 class="title">Aún tenemos varios animales esperando</h2>
                                        <p>Recuerda que todos los perros y gatos que son dados en adopción, tienen su esquema de vacunación al
                                            día, están desparasitados y algunos son esterilizados.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container custom-container">
                <div class="row adopt-active">
                  
                    <div class="col-xl-3">
                        <div class="adoption-item">
                            <div class="adopt-thumb">
                                <a href="breeder-details.html"><img src="img/images/adop_img03.png" alt=""></a>
                            
                            </div>
                            <div class="adopt-content">
                                <div class="adopt-date"><i class="far fa-calendar-alt"></i>5 meses</div>
                                <h3 class="title"><a href="breeder-details.html">Manchas</a></h3>
                                <p>The German Shepherd is a breed of medium to large-sized.</p>
                                <a href="breeder-details.html" class="read-more">Leer más <img
                                        src="img/icon/pawprint.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="adoption-item">
                            <div class="adopt-thumb">
                                <a href="breeder-details.html"><img src="img/images/adop_img03.png" alt=""></a>
                            
                            </div>
                            <div class="adopt-content">
                                <div class="adopt-date"><i class="far fa-calendar-alt"></i> Birth : 2021</div>
                                <h3 class="title"><a href="breeder-details.html">Siberian Husky</a></h3>
                                <p>The Siberian Husky is a medium-sized working sled dog breed.</p>
                                <a href="breeder-details.html" class="read-more">Read More <img
                                        src="img/icon/pawprint.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="adoption-item">
                            <div class="adopt-thumb">
                                <a href="breeder-details.html"><img src="img/images/adop_img04.png" alt=""></a>
                           
                            </div>
                            <div class="adopt-content">
                                <div class="adopt-date"><i class="far fa-calendar-alt"></i> Birth : 2021</div>
                                <h3 class="title"><a href="breeder-details.html">French Bulldog</a></h3>
                                <p>French Bulldog is a breed of domestic dog, bred to be companion.</p>
                                <a href="breeder-details.html" class="read-more">Read More <img
                                        src="img/icon/pawprint.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="adoption-item">
                            <div class="adopt-thumb">
                                <a href="breeder-details.html"><img src="img/images/adop_img05.png" alt=""></a>
                              
                            </div>
                            <div class="adopt-content">
                                <div class="adopt-date"><i class="far fa-calendar-alt"></i> Birth : 2021</div>
                                <h3 class="title"><a href="breeder-details.html">Siberian Husky</a></h3>
                                <p>French Bulldog is a breed of domestic dog, bred to be companion.</p>
                                <a href="breeder-details.html" class="read-more">Read More <img
                                        src="img/icon/pawprint.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- adoption-area-end -->

    </main>
    <!-- main-area-end -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>


</body>

</html>