<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "post" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Detalles de la publicación</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item "><a href="/post">Publicaciones</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Detalle
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- blog-details-area -->
        <section class="blog-details-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="standard-blog-item mb-50">
                            <div class="standard-blog-thumb">
                                <img src="img/blog/blog_thumb01.jpg" alt="">
                            </div>
                            <div class="standard-blog-content blog-details-content">
                                <div class="blog-post-meta">
                                    <ul>

                                        <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                                        <li><i class="far fa-bell"></i> Mar 10, 2021</li>
                                    </ul>
                                </div>
                                <h4 class="title">Online Pet Everything Your Pet Needs</h4>

                                <p>Non-core vaccines are given dependng on the dog's exposure risk. These include
                                    vaccines
                                    against Bordetella
                                    bronchiseptica, Borrelia burgdorferi and Leptosira bacteria.The dog was the first
                                    species to be domesticated, by
                                    hunter–gatherers include the core vaccines.

                                    Non-core vaccines are given dependng on the dog's exposure risk. These include
                                    vaccines
                                    against Bordetella
                                    bronchiseptica, Borrelia burgdorferi and Leptosira bacteria.The dog was the first
                                    species to be domesticated, by
                                    hunter–gatherers include the core vaccines.
                                    Non-core vaccines are given dependng on the dog's exposure risk. These include
                                    vaccines
                                    against Bordetella
                                    bronchiseptica, Borrelia burgdorferi and Leptosira bacteria.The dog was the first
                                    species to be domesticated, by
                                    hunter–gatherers include the core vaccines.
                                    Non-core vaccines are given dependng on the dog's exposure risk. These include
                                    vaccines
                                    against Bordetella
                                    bronchiseptica, Borrelia burgdorferi and Leptosira bacteria.The dog was the first
                                    species to be domesticated, by
                                    hunter–gatherers include the core vaccines.

                                </p>
                                <div class="blog-line" data-background="img/blog/blog_item_line.png"></div>
                                <div class="blog-details-bottom">

                                    <div class="blog-details-social">
                                        <ul>
                                            <li class="title"><i class="fas fa-share-alt"
                                                    style="margin-right: 8px;"></i>Compartir con:</li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-next-prev">
                            <ul>
                                <li class="blog-prev">
                                    <a href="#"><img src="img/icon/left_arrow.png" alt="img">Anterior Publicación</a>
                                </li>
                                <li class="blog-next">
                                    <a href="#">Siguiente Publicación<img src="img/icon/right_arrow.png" alt="img"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <aside class="blog-sidebar">
                            <div class="widget">
                                <h4 class="sidebar-title">Busca</h4>
                                <div class="sidebar-search">
                                    <form action="#">
                                        <input type="text" placeholder="Ingresa el título">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>

                            <div class="widget">
                                <h4 class="sidebar-title">Publicaciones Recientes</h4>
                                <div class="rc-post-list">
                                    <ul>
                                        <li>
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html"><img src="img/blog/rc_post_thumb01.jpg"
                                                        alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h5 class="title"><a href="blog-details.html">Best Online Pet Everything
                                                        Your Pet Needs</a></h5>
                                                <div class="rc-post-meta">
                                                    <ul>
                                                        <li><i class="far fa-calendar-alt"></i> April 15, 2021</li>
                                                        <li>By <a href="#">Admin</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html"><img src="img/blog/rc_post_thumb02.jpg"
                                                        alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h5 class="title"><a href="blog-details.html">Pet Needs Special Food
                                                        like
                                                        Human Foods</a></h5>
                                                <div class="rc-post-meta">
                                                    <ul>
                                                        <li><i class="far fa-calendar-alt"></i> October 15, 2021</li>
                                                        <li>By <a href="#">Admin</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-details-area-end -->

    </main>
    <!-- main-area-end -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>


</body>

</html>